
body { background-color: rgba(87, 168, 171, 0.5); 
    font-family: Arial, sans-serif;
}
.Head { max-width: 100%; /* Ensures the div doesn't 
    exceed the screen width */ background-color: 
    rgba(96, 132, 150, 0.75); height: 50px; 
    font-family: 'DM Sans', sans-serif; font-weight: 
    bold; padding: 8px 60px 2px 50px; color: rgb(57, 
    91, 80); font-size: 40px; display: flex; 
    align-items: center;
}
.box { border: 4px solid black; min-width: 120px; 
    max-width: 800px; min-height: 300px; /* 
    Corrected the typo here */
background-color:rgba(115,90,125,0.4);
margin-top:30px;
padding:10px;
justify-content: center;
}

img{
  justify-content: center;
}
